# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# Environment variables
.env

# MacOS
.DS_Store

# IDEs and editors
.vscode/
.idea/
